@using Krg.Services
@using Krg.Web.Controllers
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePageViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<div class="row">	
	<h1>@Model.GetProperty("PageTitle").GetValue()</h1>
</div>

@Html.Partial("/Views/Partials/events/Index.cshtml", Model.Events)
