<div class="table table-sm table-striped table-hover" ng-controller="RegistrationsPluginController">
    <!--<p>{{exportYear.value}}</p>
    <input type="text" ng-model="exportYear.value" />-->
    <button type="button" ng-disabled="getState()" ng-click="getRegistrations()"> Hent registreringer</button>
    <button type="button" ng-disabled="getState()" ng-click="exportToExcel()">Export</button>
    <!--<a href="https://localhost:44396/umbraco/backoffice/api/registrations/exportasexcel/?year=2024" type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" download="MyWorkbook.xlsx">Link</a>-->
    <table>
        <thead>
            <tr>
                <th scope="col">Dato</th>
                <th scope="col">Navn</th>
                <th scope="col">Email</th>
                <th scope="col">Afdeling</th>
                <th scope="col">Antal voksne</th>
                <th scope="col">Antal børn</th>
                <th scope="col">Medbringer trailer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reg in aRegistrations">
                <th scope="row">{{ reg.EventDate }}</th>
                <th>{{ reg.Name }}</th>
                <th>{{ reg.Email }}</th>
                <th>{{ reg.Department }}</th>
                <th>{{ reg.NoOfAdults }}</th>
                <th>{{ reg.NoOfChildren }}</th>
                <th>{{ reg.BringsTrailer }}</th>
            </tr>
        </tbody>
    </table>
</div>