@using Krg.Website.Areas.Admin.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SigninManager;
@model UsersViewModel
@{
    var currentUserId = SigninManager.UserManager.GetUserId(User);
}
<div class="row">
    @{ Html.RenderPartial("CreateUserPartial", new CreateUserDto {Email = string.Empty, Password = string.Empty, RepeatPassword = string.Empty}); }
</div>

<div class="row shadow-sm p-3 mb-5 bg-body rounded">
    <div class="col">
        <h2>Overview</h2>
        <hr/>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">De-activate</th>
                <th scope="col">Reset password</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="users-parent">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th scope="row">@user.Email</th>
                    <th scope="row"><button class="btn btn-outline-secondary" type="button" onclick="alert('Deactivate user - ')">Deactivate</button></th>
                    <th scope="row"><button class="btn btn-outline-secondary" type="button" onclick="resetPassword('@user.Id')">Reset password</button></th>
                    <th scope="row">
                        @if (currentUserId != user.Id)
                        {
                            <button class="btn btn-outline-secondary" type="button" onclick="deleteUser('@user.Id')">Delete user</button>    
                        }
                    </th>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        function deleteUser(id) {
            let data = {
                id: id
            }

            if (confirm('Are you sure?')) {

                console.log('deleteUser called for ' + id);
                
                $.ajax({
                    type: 'POST',
                    url: '/Admin/UsersApi/DeleteUser',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);

                        $('#users-parent').empty();

                        if (result.hasOwnProperty('users')) {                       
                            updateUsersList(result.users);
                        }
                    }
                });                
            }
        }

        function updateUsersList(data) {
            let currentUserId = '@SigninManager.UserManager.GetUserId(User)';
            $.each(data, function (k, v) {                
                $('#users-parent')
                    .append(
                        '<tr>' +
                            '<th scope="row">'+ v.email + '</th>' +
                            '<th scope="row"><button type="button" class="btn btn-outline-secondary" onClick="alert()">Deactivate user</button></th>' +
                            '<th scope="row"><button type="button" class="btn btn-outline-secondary" onClick="resetPassword(\'' + v.id + '\')">Reset password</button></th>' +
                            '<th scope="row">' +
                                    (currentUserId !== v.id ?
                                    '<button type="button" class="btn btn-outline-secondary" onClick="deleteUser(\'' + v.id + '\')">Delete user</button>' :
                                    '') +
                            '</th>' + //TODO do not add for current user
                        '</tr>')
            });
        }
        
        function resetPassword(id) {
            let data = {
                Id: id
            }

            if (confirm('Are you sure?')) {

                $.ajax({
                    type: 'POST',
                    url: '/Admin/UsersApi/ResetPassword',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);
                        alert(result.message);                        
                    },
                });
            }
        }
                
        function callApi(url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    console.log(result);
                }
            });
        }    
    </script>
}