@using Krg.Website.Areas.Admin.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SigninManager;

<div class="row shadow-sm p-3 mb-3 bg-body rounded">
    @{ Html.RenderPartial("CreateUserPartial", new CreateUserDto {Email = string.Empty, Password = string.Empty, RepeatPassword = string.Empty}); }
</div>

<div id="alertContainer" class="row d-none">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div id="alertMsg">
        </div>
    </div>
</div>

<div class="row shadow-sm p-3 mb-3 bg-body rounded">
    <div class="col">
        <h2>Overview</h2>
        <hr/>
        <div class="row" id="users-parent">
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function (){
            $.ajax({
                type: 'GET',
                url: '/Admin/UsersApi/GetAll',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $('#users-parent').empty();
                    if (result.hasOwnProperty('users')) {
                        updateUsersList(result.users);
                    }
                }
            });
        });
        
        function toggleUser(id, activate) {
            let data = {
                id: id
            }

            if (confirm('Are you sure?')) {
                if (activate) {
                    callApi('/Admin/UsersApi/Activate', data);
                } else {
                    callApi('/Admin/UsersApi/Deactivate', data);
                }
            }
        }       
        
        function deleteUser(id) {
            let data = {
                id: id
            }

            if (confirm('Are you sure?')) {
                callApi('/Admin/UsersApi/DeleteUser', data);
            }
        }

        function resetPassword(id) {
            let data = {
                Id: id
            }

            if (confirm('Are you sure?')) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/UsersApi/ResetPassword',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);
                        $('#alertMsg').html(result.message);
                        $('#alertContainer').removeClass('d-none');
                    },
                });
            }
        }
        
        function updateUsersList(data) {
            let currentUserId = '@SigninManager.UserManager.GetUserId(User)';
            $.each(data, function (k, v) {
                let userId = v.id;
                let isLockedOut = v.lockoutEnabled === true && v.lockoutEnd !== '' && v.lockoutEnd !== null;
                let lockedElm = '';
                 
                if(isLockedOut)
                {
                    lockedElm = '<label for="staticName-' + userId + '" class="col-sm-2 col-form-label"><i class="bi bi-lock h5"></i></label>' +
                            '<div class="col-sm-10 p-1">' +
                                '<button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleUser(\'' + userId + '\', true)">Enable</button>' +
                            '</div>'
                }
                else
                {
                    lockedElm = 
                        '<label for="staticName-' + userId + '" class="col-sm-2 col-form-label"><i class="bi bi-lock h5"></i></label>' +
                        '<div class="col-sm-10 p-1">' +
                            '<button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleUser(\'' + userId + '\', false)">Disable</button>' +
                        '</div>'
                }
                
                let deleteElm = '';

                if (currentUserId !== userId)
                {
                    deleteElm = 
                        '<label for="staticEmail-' + userId + '" class="col-sm-2 col-form-label"><i class="bi bi-trash3 h5"></i></label>' +
                        '<div class="col-sm-10 p-1">' +
                            '<button class="btn btn-sm btn-outline-secondary" type="button" onclick="deleteUser(\'' + userId + '\')">Delete</button>' +
                        '</div>'
                }
                
                
                $('#users-parent')
                    .append(
                        '<div class="col-sm-3 p-2">' +
                            '<div class="card">' +
                                '<div class="card-body">' +
                                    '<h5 class="card-title">' + v.email + '</h5>' +
                                    '<p class="card-text">' + 
                                    '<div class="row">' +
                                        lockedElm + 
                                    '</div>' +
                                    '<div class="row">' +
                                        '<label for="staticPhone-' + userId + '" class="col-sm-2 col-form-label"><i class="bi bi-key h5"></i></label>' +
                                        '<div class="col-sm-10 p-1">' + 
                                            '<button class="btn btn-sm btn-outline-secondary" type="button" onclick="resetPassword(\'' + userId + '\')">Reset password</button>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                        deleteElm +
                                    '</div>' +
                                    '</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                    )
            });
        }
                
        function callApi(url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    $('#users-parent').empty();
                    if (result.hasOwnProperty('users')) {
                        updateUsersList(result.users);
                    }
                }
            });
        }    
    </script>
}