<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eee90510-f2f1-426e-9c34-0f1edf93370d" Alias="EventFolder - Registrations - RegistrationsReporting" Level="1">
  <Info>
    <Name>EventFolder - Registrations - RegistrationsReporting</Name>
    <EditorAlias>Registrations editor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "defaultValue": "2222"
}]]></Config>
</DataType>