<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a071396-aab8-429e-934e-7977b365bf91" Alias="Event - ContactEmail - Email address" Level="1">
  <Info>
    <Name>Event - ContactEmail - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>