<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c593a8b-c63a-47d4-bf13-6ac0d7cc8d9c" Alias="SiteSettings - eventRoot - Multinode Treepicker" Level="1">
  <Info>
    <Name>SiteSettings - eventRoot - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "eventRoot",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>