<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8863831f-5bc0-423c-b80c-57addbbdc2ce" Alias="SiteSettings - EmailSender - Email address" Level="1">
  <Info>
    <Name>SiteSettings - EmailSender - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>