<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb5d2cea-6dbe-42ab-8642-f6f52e97a544" Alias="01-06-2025" Level="4">
  <Info>
    <Parent Key="9cebf320-d0bf-4cb8-aed4-ea5a8a438416">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:41:07</CreateDate>
    <NodeName Default="01-06-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-06-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>