<?xml version="1.0" encoding="utf-8"?>
<Content Key="89d0dff2-ce5c-4f2a-b351-a358190eaf2f" Alias="01-07-2024" Level="4">
  <Info>
    <Parent Key="bdf227a6-286b-4b1d-9a98-cbf55bc758f4">Juli</Parent>
    <Path>/Home//Juli/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-25T19:21:57</CreateDate>
    <NodeName Default="01-07-2024" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-07-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>