<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bd77e90-dcfe-4885-819f-146bffdf8f0e" Alias="01-01-2025" Level="3">
  <Info>
    <Parent Key="56af9ebb-9c96-49f1-b07e-611d3dfbbd82">2025</Parent>
    <Path>/Home//</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-04-21T20:39:40</CreateDate>
    <NodeName Default="01-01-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-01-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>