<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9f1c7b2-f22e-4eb2-ab4e-9b6c07ce84e2" Alias="01-06-2024" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-25T19:54:53</CreateDate>
    <NodeName Default="01-06-2024" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-06-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>