<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bd77e90-dcfe-4885-819f-146bffdf8f0e" Alias="01-01-2025" Level="102">
  <Info>
    <Parent Key="2408e62f-137d-493d-ab76-d2ae01371fde">Januar (1)</Parent>
    <Path>/[-20]/Januar1/</Path>
    <Trashed Parent="2408e62f-137d-493d-ab76-d2ae01371fde">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-04-21T20:39:40</CreateDate>
    <NodeName Default="01-01-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-01-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>