<?xml version="1.0" encoding="utf-8"?>
<Content Key="e85872f5-fc86-4153-ba50-234cfc0f46a2" Alias="01-12-2024" Level="4">
  <Info>
    <Parent Key="906e041a-226a-4141-8476-1abb98b13055">December</Parent>
    <Path>/Home//December/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:35:07</CreateDate>
    <NodeName Default="01-12-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-12-01T12:00:00]]></Value>
    </date>
  </Properties>
</Content>