<?xml version="1.0" encoding="utf-8"?>
<Content Key="c76c5a16-b288-4c2c-9671-53a97e4db1cf" Alias="02-06-2024" Level="102">
  <Info>
    <Parent Key="25d58a99-edda-461c-a8ab-984c2a6e7e54">Juni</Parent>
    <Path>/[-20]/Juni/</Path>
    <Trashed Parent="25d58a99-edda-461c-a8ab-984c2a6e7e54">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:50:21</CreateDate>
    <NodeName Default="02-06-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-06-02T12:00:00]]></Value>
    </date>
  </Properties>
</Content>