<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d9ca45c-eb1f-4883-a05f-bc1728d6f47a" Alias="02-02-2025" Level="4">
  <Info>
    <Parent Key="d7d8f311-8f86-4fd0-a9fe-a8f2933261e3">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:36:55</CreateDate>
    <NodeName Default="02-02-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-02-02T12:00:00]]></Value>
    </date>
  </Properties>
</Content>