<?xml version="1.0" encoding="utf-8"?>
<Content Key="92c1e39b-4b60-4acf-a13f-fbbfc603e7dd" Alias="03-06-2024" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-25T19:56:12</CreateDate>
    <NodeName Default="03-06-2024" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[mikkeljacobsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Mikkel Jacobsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[44779900]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-06-03T12:00:00]]></Value>
    </date>
  </Properties>
</Content>