<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3605953-9c37-4209-87be-9892641ff0b4" Alias="03-08-2025" Level="4">
  <Info>
    <Parent Key="d525605f-9d0a-48f2-a8fb-45377352182d">August</Parent>
    <Path>/Home//August/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:43:11</CreateDate>
    <NodeName Default="03-08-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-08-03T12:00:00]]></Value>
    </date>
  </Properties>
</Content>