<?xml version="1.0" encoding="utf-8"?>
<Content Key="21c641f6-b478-4577-864d-2fc1dbc5b94e" Alias="03-11-2024" Level="4">
  <Info>
    <Parent Key="e331b11d-237f-4a75-b0de-0ce4d29f794b">November</Parent>
    <Path>/Home//November/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:34:19</CreateDate>
    <NodeName Default="03-11-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-11-03T12:00:00]]></Value>
    </date>
  </Properties>
</Content>