<?xml version="1.0" encoding="utf-8"?>
<Content Key="68e26b8f-7de1-4b43-9218-9cb27b111a31" Alias="06-07-2025" Level="4">
  <Info>
    <Parent Key="65102606-2f11-4791-8eb8-56af77e70e6a">Juli</Parent>
    <Path>/Home//Juli/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:42:11</CreateDate>
    <NodeName Default="06-07-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-07-06T12:00:00]]></Value>
    </date>
  </Properties>
</Content>