<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3e9699c-b1af-4731-8d8d-6c90fa2aec1f" Alias="07-07-2024" Level="4">
  <Info>
    <Parent Key="bdf227a6-286b-4b1d-9a98-cbf55bc758f4">Juli</Parent>
    <Path>/Home//Juli/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-14T20:42:02</CreateDate>
    <NodeName Default="07-07-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-07-07T12:00:00]]></Value>
    </date>
  </Properties>
</Content>