<?xml version="1.0" encoding="utf-8"?>
<Content Key="af89afbd-b4e3-4cde-9820-9509b00b7dec" Alias="07-12-2025" Level="4">
  <Info>
    <Parent Key="b2a92ad5-0023-4dfd-aa9b-0752dc575d61">December</Parent>
    <Path>/Home//December/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:47:33</CreateDate>
    <NodeName Default="07-12-2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-12-07T12:00:00]]></Value>
    </date>
  </Properties>
</Content>