<?xml version="1.0" encoding="utf-8"?>
<Content Key="7957fb8f-fbe7-4bba-94bd-882562959596" Alias="08-09-2024" Level="4">
  <Info>
    <Parent Key="9f136a0d-bf09-4d2e-93ae-cd4c9ba5082d">September</Parent>
    <Path>/Home//September/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:32:13</CreateDate>
    <NodeName Default="08-09-2024" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-09-08T12:00:00]]></Value>
    </date>
  </Properties>
</Content>