<?xml version="1.0" encoding="utf-8"?>
<Content Key="28613895-9a3b-4d7c-a5d7-566d81b09f7a" Alias="08-07-2024" Level="4">
  <Info>
    <Parent Key="bdf227a6-286b-4b1d-9a98-cbf55bc758f4">Juli</Parent>
    <Path>/Home//Juli/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-25T20:23:48</CreateDate>
    <NodeName Default="08-07-2024" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-07-08T12:00:00]]></Value>
    </date>
  </Properties>
</Content>