<?xml version="1.0" encoding="utf-8"?>
<Content Key="142ecef2-21bd-408e-8898-b496479aea56" Alias="10-08-2025" Level="4">
  <Info>
    <Parent Key="d525605f-9d0a-48f2-a8fb-45377352182d">August</Parent>
    <Path>/Home//August/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:43:22</CreateDate>
    <NodeName Default="10-08-2025" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-08-10T12:00:00]]></Value>
    </date>
  </Properties>
</Content>