<?xml version="1.0" encoding="utf-8"?>
<Content Key="15a64505-2b4d-459e-adc9-d3a60bcec3d7" Alias="11-08-2024" Level="4">
  <Info>
    <Parent Key="cbfc1905-a6a0-471f-9ba6-cee4e79f529e">August</Parent>
    <Path>/Home//August/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:31:32</CreateDate>
    <NodeName Default="11-08-2024" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-08-11T12:00:00]]></Value>
    </date>
  </Properties>
</Content>