<?xml version="1.0" encoding="utf-8"?>
<Content Key="69639795-54e2-4dad-beee-94f37ededb83" Alias="12-01-2025" Level="4">
  <Info>
    <Parent Key="f318cdff-3e02-40e9-a1aa-25bdb2695af4">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-07T21:09:09</CreateDate>
    <NodeName Default="12-01-2025" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-01-12T12:00:00]]></Value>
    </date>
  </Properties>
</Content>