<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b351c8d-1f8f-43ad-8498-a979ace6efb9" Alias="12-10-2025" Level="4">
  <Info>
    <Parent Key="18076a9c-801f-4184-9622-1651b46e268c">Oktober</Parent>
    <Path>/Home//Oktober/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:45:33</CreateDate>
    <NodeName Default="12-10-2025" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-10-12T12:00:00]]></Value>
    </date>
  </Properties>
</Content>