<?xml version="1.0" encoding="utf-8"?>
<Content Key="9aa3cd7d-46c7-4e64-86b5-38d00f19b1a7" Alias="14-01-2024" Level="4">
  <Info>
    <Parent Key="9de2b953-5921-414a-9bb3-a62bcf519a18">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:56:43</CreateDate>
    <NodeName Default="14-01-2024" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-14T12:00:00]]></Value>
    </date>
  </Properties>
</Content>