<?xml version="1.0" encoding="utf-8"?>
<Content Key="e56aff67-4077-4624-90ef-201c5699d939" Alias="14-12-2025" Level="4">
  <Info>
    <Parent Key="b2a92ad5-0023-4dfd-aa9b-0752dc575d61">December</Parent>
    <Path>/Home//December/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:47:46</CreateDate>
    <NodeName Default="14-12-2025" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-12-14T12:00:00]]></Value>
    </date>
  </Properties>
</Content>