<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9d2057c-be6b-4be2-884e-b03abe19a432" Alias="16-05-2024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="6ab26763-2edb-49a9-aa66-31aedcd665b1">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-16T13:34:28</CreateDate>
    <NodeName Default="16-05-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-05-16T09:00:00]]></Value>
    </date>
  </Properties>
</Content>