<?xml version="1.0" encoding="utf-8"?>
<Content Key="31e76556-99fd-4f8b-a98f-2bb2d46e8172" Alias="16-06-2024" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:32:06</CreateDate>
    <NodeName Default="16-06-2024" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-06-16T12:00:00]]></Value>
    </date>
  </Properties>
</Content>