<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d2bb106-becd-482c-a129-222365af1bc3" Alias="16-06-2024" Level="4">
  <Info>
    <Parent Key="ed887895-b4e4-471f-9292-a4570052e2ef">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:56:42</CreateDate>
    <NodeName Default="16-06-2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-06-16T12:00:00]]></Value>
    </date>
  </Properties>
</Content>