<?xml version="1.0" encoding="utf-8"?>
<Content Key="4135d221-7337-4d8f-8ac1-8d6ac4c56752" Alias="17-08-2025" Level="4">
  <Info>
    <Parent Key="d525605f-9d0a-48f2-a8fb-45377352182d">August</Parent>
    <Path>/Home//August/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:43:34</CreateDate>
    <NodeName Default="17-08-2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-08-17T12:00:00]]></Value>
    </date>
  </Properties>
</Content>