<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c425313-495e-44ae-8f60-60befa7b6a27" Alias="18-05-2025" Level="4">
  <Info>
    <Parent Key="4d54afb2-9903-429a-b777-f49baf33399b">Maj</Parent>
    <Path>/Home//Maj/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:40:33</CreateDate>
    <NodeName Default="18-05-2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-05-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>