<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a79db5b-aae6-4533-ac6d-495b3550735c" Alias="19-10-2025" Level="4">
  <Info>
    <Parent Key="18076a9c-801f-4184-9622-1651b46e268c">Oktober</Parent>
    <Path>/Home//Oktober/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:45:45</CreateDate>
    <NodeName Default="19-10-2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-10-19T12:00:00]]></Value>
    </date>
  </Properties>
</Content>