<?xml version="1.0" encoding="utf-8"?>
<Content Key="759c2267-7e9f-443c-84fa-8bdd864faa97" Alias="20-04-2025" Level="4">
  <Info>
    <Parent Key="8c2f2db9-677a-4722-a251-ef39d79a9662">April</Parent>
    <Path>/Home//April/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:39:37</CreateDate>
    <NodeName Default="20-04-2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-04-20T12:00:00]]></Value>
    </date>
  </Properties>
</Content>