<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ad14b9e-ad3f-432b-91a8-f1553d0a2ea2" Alias="20-10-2024" Level="4">
  <Info>
    <Parent Key="3cda540e-ba35-447d-95be-dcf0f7c6036b">Oktober</Parent>
    <Path>/Home//Oktober/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:34:00</CreateDate>
    <NodeName Default="20-10-2024" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-10-20T12:00:00]]></Value>
    </date>
  </Properties>
</Content>