<?xml version="1.0" encoding="utf-8"?>
<Content Key="58685deb-0841-4365-a360-be66bc102811" Alias="2024-02-04" Level="4">
  <Info>
    <Parent Key="f3ec4116-84cf-4765-a29b-fe43cc6a9663">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:07:43</CreateDate>
    <NodeName Default="2024-02-04" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-04T12:00:00]]></Value>
    </date>
  </Properties>
</Content>