<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2678d8d-9613-4cab-a86a-4a592001ac1c" Alias="2024-02-18" Level="102">
  <Info>
    <Parent Key="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">Februar</Parent>
    <Path>/[-20]/Februar/</Path>
    <Trashed Parent="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:07:54</CreateDate>
    <NodeName Default="2024-02-18" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>