<?xml version="1.0" encoding="utf-8"?>
<Content Key="75968b54-5fbc-48c9-8ae9-afcb4031dda6" Alias="2024-06-09" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:31:57</CreateDate>
    <NodeName Default="2024-06-09" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-06-09T12:00:00]]></Value>
    </date>
  </Properties>
</Content>