<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd451215-e54c-4d6a-9680-572ba304f17e" Alias="2024-02-25" Level="102">
  <Info>
    <Parent Key="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">Februar</Parent>
    <Path>/[-20]/Februar/</Path>
    <Trashed Parent="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:08:04</CreateDate>
    <NodeName Default="2024-02-25" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-25T12:00:00]]></Value>
    </date>
  </Properties>
</Content>