<?xml version="1.0" encoding="utf-8"?>
<Content Key="7368387b-5eb0-4f8a-837e-fa8b71a43814" Alias="2024" Level="2">
  <Info>
    <Parent Key="6ab26763-2edb-49a9-aa66-31aedcd665b1">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder</ContentType>
    <CreateDate>2024-03-17T19:23:28</CreateDate>
    <NodeName Default="2024">
      <Name Culture="en-us">2024</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>