<?xml version="1.0" encoding="utf-8"?>
<Content Key="75a417aa-671a-497e-82d3-a6ab34dc3118" Alias="2024-01-07" Level="4">
  <Info>
    <Parent Key="c2c326b1-19a5-495c-9c40-7aae7b8e9de9">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:05:18</CreateDate>
    <NodeName Default="2024-01-07" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-07T12:00:00]]></Value>
    </date>
  </Properties>
</Content>