<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e1d5bdc-be8e-47be-8e96-37f49aac062b" Alias="2024-01-14" Level="4">
  <Info>
    <Parent Key="c2c326b1-19a5-495c-9c40-7aae7b8e9de9">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:07:00</CreateDate>
    <NodeName Default="2024-01-14" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-14T12:00:00]]></Value>
    </date>
  </Properties>
</Content>