<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd451215-e54c-4d6a-9680-572ba304f17e" Alias="2024-02-25" Level="4">
  <Info>
    <Parent Key="f3ec4116-84cf-4765-a29b-fe43cc6a9663">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:08:04</CreateDate>
    <NodeName Default="2024-02-25" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-25T12:00:00]]></Value>
    </date>
  </Properties>
</Content>