<?xml version="1.0" encoding="utf-8"?>
<Content Key="eefb2531-5b2d-442a-a259-78012b1ae561" Alias="2024-01-21" Level="4">
  <Info>
    <Parent Key="c2c326b1-19a5-495c-9c40-7aae7b8e9de9">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T20:23:49</CreateDate>
    <NodeName Default="2024-01-21" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-21T12:00:00]]></Value>
    </date>
  </Properties>
</Content>