<?xml version="1.0" encoding="utf-8"?>
<Content Key="e579c886-4220-47c0-88fd-d7abf6529328" Alias="2024-06-02" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:31:48</CreateDate>
    <NodeName Default="2024-06-02" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-06-02T12:00:00]]></Value>
    </date>
  </Properties>
</Content>