<?xml version="1.0" encoding="utf-8"?>
<Content Key="135c6043-ebcd-49f9-84b3-f77cb3914044" Alias="2024-03-10" Level="4">
  <Info>
    <Parent Key="4fcdb74b-8ab9-4433-883a-9fae7d9d2cc8">Marts</Parent>
    <Path>/Home//Marts/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:57:56</CreateDate>
    <NodeName Default="2024-03-10" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-10T12:00:00]]></Value>
    </date>
  </Properties>
</Content>