<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2678d8d-9613-4cab-a86a-4a592001ac1c" Alias="2024-02-18" Level="4">
  <Info>
    <Parent Key="f3ec4116-84cf-4765-a29b-fe43cc6a9663">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:07:54</CreateDate>
    <NodeName Default="2024-02-18" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>