<?xml version="1.0" encoding="utf-8"?>
<Content Key="47cd19b7-7622-44c0-adbd-a56398393b9b" Alias="2024-01-28" Level="102">
  <Info>
    <Parent Key="c04752d3-5873-4fb1-a19e-0022242e4b92">Januar</Parent>
    <Path>/[-20]/Januar/</Path>
    <Trashed Parent="c04752d3-5873-4fb1-a19e-0022242e4b92">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T20:48:59</CreateDate>
    <NodeName Default="2024-01-28" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-28T12:00:00]]></Value>
    </date>
  </Properties>
</Content>