<?xml version="1.0" encoding="utf-8"?>
<Content Key="75a417aa-671a-497e-82d3-a6ab34dc3118" Alias="2024-01-07" Level="102">
  <Info>
    <Parent Key="c04752d3-5873-4fb1-a19e-0022242e4b92">Januar</Parent>
    <Path>/[-20]/Januar/</Path>
    <Trashed Parent="c04752d3-5873-4fb1-a19e-0022242e4b92">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T21:05:18</CreateDate>
    <NodeName Default="2024-01-07" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-07T12:00:00]]></Value>
    </date>
  </Properties>
</Content>