<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d" Alias="2024" Level="2">
  <Info>
    <Parent Key="6ab26763-2edb-49a9-aa66-31aedcd665b1">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>eventRoot</ContentType>
    <CreateDate>2024-05-02T19:53:09</CreateDate>
    <NodeName Default="2024" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <exportYear>
      <Value><![CDATA[2024]]></Value>
    </exportYear>
    <registrations>
      <Value><![CDATA[]]></Value>
    </registrations>
  </Properties>
</Content>