<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d35edcb-cc00-4722-973b-82742aaff8f9" Alias="2024-03-18" Level="4">
  <Info>
    <Parent Key="f69ebfbc-fa9b-4991-86ae-31e4c85b4e1a">Marts</Parent>
    <Path>/Home//Marts/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T19:23:43</CreateDate>
    <NodeName Default="2024-03-18" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>