<?xml version="1.0" encoding="utf-8"?>
<Content Key="a093762f-990f-4859-b4ee-de6298c1da88" Alias="2024-02-18" Level="4">
  <Info>
    <Parent Key="41bb1965-e596-4090-823d-5bd8acebbf94">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:58:05</CreateDate>
    <NodeName Default="2024-02-18" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>