<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc589121-e7cc-443b-8a38-2577573356a3" Alias="2024-03-31" Level="102">
  <Info>
    <Parent Key="6eafc107-fb60-406c-b890-f1ec99e9d872">Marts</Parent>
    <Path>/[-20]/Marts/</Path>
    <Trashed Parent="6eafc107-fb60-406c-b890-f1ec99e9d872">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T20:23:30</CreateDate>
    <NodeName Default="2024-03-31" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-31T12:00:00]]></Value>
    </date>
  </Properties>
</Content>