<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9007a86-7457-4c92-a559-9d636419ac70" Alias="2024-02-11" Level="4">
  <Info>
    <Parent Key="41bb1965-e596-4090-823d-5bd8acebbf94">Februar</Parent>
    <Path>/Home//Februar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:57:33</CreateDate>
    <NodeName Default="2024-02-11" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-11T12:00:00]]></Value>
    </date>
  </Properties>
</Content>