<?xml version="1.0" encoding="utf-8"?>
<Content Key="53149587-1dc4-4338-9e91-bbf9e12b7f3a" Alias="2024-03-03" Level="4">
  <Info>
    <Parent Key="4fcdb74b-8ab9-4433-883a-9fae7d9d2cc8">Marts</Parent>
    <Path>/Home//Marts/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:57:48</CreateDate>
    <NodeName Default="2024-03-03" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-03T12:00:00]]></Value>
    </date>
  </Properties>
</Content>