<?xml version="1.0" encoding="utf-8"?>
<Content Key="efd01e12-7f2a-4cb9-8345-5b82f6d569ae" Alias="2024-06-30" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:32:24</CreateDate>
    <NodeName Default="2024-06-30" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-06-30T12:00:00]]></Value>
    </date>
  </Properties>
</Content>