<?xml version="1.0" encoding="utf-8"?>
<Content Key="864f9ee6-3093-4a8f-aa12-c4d8cc0e9357" Alias="2024-01-07" Level="4">
  <Info>
    <Parent Key="9de2b953-5921-414a-9bb3-a62bcf519a18">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:56:30</CreateDate>
    <NodeName Default="2024-01-07" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-07T12:00:00]]></Value>
    </date>
  </Properties>
</Content>