<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d35edcb-cc00-4722-973b-82742aaff8f9" Alias="2024-03-18" Level="102">
  <Info>
    <Parent Key="6eafc107-fb60-406c-b890-f1ec99e9d872">Marts</Parent>
    <Path>/[-20]/Marts/</Path>
    <Trashed Parent="6eafc107-fb60-406c-b890-f1ec99e9d872">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T19:23:43</CreateDate>
    <NodeName Default="2024-03-18" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-18T12:00:00]]></Value>
    </date>
  </Properties>
</Content>