<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc5ba99e-9e1a-4cdd-9889-661154153dec" Alias="2024-02-12" Level="102">
  <Info>
    <Parent Key="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">Februar</Parent>
    <Path>/[-20]/Februar/</Path>
    <Trashed Parent="b19d4fb9-3d40-4fbf-a4a5-464081f4b976">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-03-17T19:24:14</CreateDate>
    <NodeName Default="2024-02-12" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-02-12T12:00:00]]></Value>
    </date>
  </Properties>
</Content>