<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c3c9daf-1add-4e36-a608-ec36deaa534d" Alias="2024-05-19" Level="4">
  <Info>
    <Parent Key="4c5c1882-6a11-4231-ad3a-66501bede405">Maj</Parent>
    <Path>/Home//Maj/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:31:30</CreateDate>
    <NodeName Default="2024-05-19" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-05-19T12:00:00]]></Value>
    </date>
  </Properties>
</Content>