<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9406067-ac1f-46a3-b658-e25328b661ad" Alias="2025" Level="2">
  <Info>
    <Parent Key="6ab26763-2edb-49a9-aa66-31aedcd665b1">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>eventRoot</ContentType>
    <CreateDate>2024-05-02T19:54:10</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <exportYear>
      <Value><![CDATA[2025]]></Value>
    </exportYear>
    <registrations>
      <Value><![CDATA[]]></Value>
    </registrations>
  </Properties>
</Content>