<?xml version="1.0" encoding="utf-8"?>
<Content Key="a636b84e-fc86-457b-b09d-baad3be843eb" Alias="2025-01-05" Level="4">
  <Info>
    <Parent Key="15b6bfad-2a4f-4285-a91d-d2c067e1020d">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T20:04:59</CreateDate>
    <NodeName Default="2025-01-05" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-01-05T12:00:00]]></Value>
    </date>
  </Properties>
</Content>