<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d63f035-d3f9-4ec9-a0e1-4c001ab8c1fc" Alias="21-01-2024" Level="4">
  <Info>
    <Parent Key="9de2b953-5921-414a-9bb3-a62bcf519a18">Januar</Parent>
    <Path>/Home//Januar/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-02T19:56:56</CreateDate>
    <NodeName Default="21-01-2024" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-21T12:00:00]]></Value>
    </date>
  </Properties>
</Content>