<?xml version="1.0" encoding="utf-8"?>
<Content Key="65cb311c-55d6-44c6-92f2-1a5e289acd8f" Alias="23-03-2025" Level="4">
  <Info>
    <Parent Key="26dc3a38-39ec-4bff-9768-c7aeaab60eaa">Marts</Parent>
    <Path>/Home//Marts/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:38:38</CreateDate>
    <NodeName Default="23-03-2025" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-03-23T12:00:00]]></Value>
    </date>
  </Properties>
</Content>