<?xml version="1.0" encoding="utf-8"?>
<Content Key="277e972f-7ef9-419e-b6d4-07f3e9a53870" Alias="23-06-2024" Level="4">
  <Info>
    <Parent Key="43025a93-532a-4108-a997-fdc2d514ad49">Juni</Parent>
    <Path>/Home//Juni/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-05-08T20:32:16</CreateDate>
    <NodeName Default="23-06-2024" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-06-23T12:00:00]]></Value>
    </date>
  </Properties>
</Content>