<?xml version="1.0" encoding="utf-8"?>
<Content Key="99b61a31-4a45-4e3f-bdae-84bf7cd38aa6" Alias="25-08-2024" Level="4">
  <Info>
    <Parent Key="cbfc1905-a6a0-471f-9ba6-cee4e79f529e">August</Parent>
    <Path>/Home//August/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:31:52</CreateDate>
    <NodeName Default="25-08-2024" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-08-25T12:00:00]]></Value>
    </date>
  </Properties>
</Content>