<?xml version="1.0" encoding="utf-8"?>
<Content Key="670b64a8-319a-49c8-8539-f20fc2f67e55" Alias="26-10-2025" Level="4">
  <Info>
    <Parent Key="18076a9c-801f-4184-9622-1651b46e268c">Oktober</Parent>
    <Path>/Home//Oktober/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:45:57</CreateDate>
    <NodeName Default="26-10-2025" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-10-26T12:00:00]]></Value>
    </date>
  </Properties>
</Content>