<?xml version="1.0" encoding="utf-8"?>
<Content Key="e72f5e7c-fe5e-4f3e-8dfa-37e5c9dbcce3" Alias="27-07-2025" Level="4">
  <Info>
    <Parent Key="65102606-2f11-4791-8eb8-56af77e70e6a">Juli</Parent>
    <Path>/Home//Juli/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:42:47</CreateDate>
    <NodeName Default="27-07-2025" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-07-27T12:00:00]]></Value>
    </date>
  </Properties>
</Content>