<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ff2ec9a-9416-4f73-8523-b9b581e65eb7" Alias="27-10-2024" Level="4">
  <Info>
    <Parent Key="3cda540e-ba35-447d-95be-dcf0f7c6036b">Oktober</Parent>
    <Path>/Home//Oktober/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:34:10</CreateDate>
    <NodeName Default="27-10-2024" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-10-27T12:00:00]]></Value>
    </date>
  </Properties>
</Content>