<?xml version="1.0" encoding="utf-8"?>
<Content Key="43c2eeec-da1d-470e-b62b-787b55a5dc9a" Alias="28-09-2025" Level="4">
  <Info>
    <Parent Key="4b31f1e1-4376-461d-8a5b-69863f8acd3b">September</Parent>
    <Path>/Home//September/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:44:58</CreateDate>
    <NodeName Default="28-09-2025" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-09-28T12:00:00]]></Value>
    </date>
  </Properties>
</Content>