<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1d43d59-9d03-4552-99bc-428827186139" Alias="28-12-2025" Level="4">
  <Info>
    <Parent Key="b2a92ad5-0023-4dfd-aa9b-0752dc575d61">December</Parent>
    <Path>/Home//December/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:48:13</CreateDate>
    <NodeName Default="28-12-2025" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-12-28T12:00:00]]></Value>
    </date>
  </Properties>
</Content>