<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e7dfc2f-dccd-4b6d-b7ab-31166c6374d0" Alias="29-09-2024" Level="4">
  <Info>
    <Parent Key="9f136a0d-bf09-4d2e-93ae-cd4c9ba5082d">September</Parent>
    <Path>/Home//September/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-06-13T20:32:48</CreateDate>
    <NodeName Default="29-09-2024" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2024-09-29T12:00:00]]></Value>
    </date>
  </Properties>
</Content>