<?xml version="1.0" encoding="utf-8"?>
<Content Key="6abfb71d-ab0c-44cd-8e41-854d5622a75a" Alias="30-11-2025" Level="4">
  <Info>
    <Parent Key="14462377-82be-47b6-8d16-4f85d1cc0518">November</Parent>
    <Path>/Home//November/</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-11-10T08:47:08</CreateDate>
    <NodeName Default="30-11-2025" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[jacobtambourmikkelsen@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Jacob Mikkelsen]]></Value>
    </contactName>
    <contactPhoneNo>
      <Value><![CDATA[21486949]]></Value>
    </contactPhoneNo>
    <date>
      <Value><![CDATA[2025-11-30T12:00:00]]></Value>
    </date>
  </Properties>
</Content>