<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c2f2db9-677a-4722-a251-ef39d79a9662" Alias="April" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//April</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:39:03</CreateDate>
    <NodeName Default="April">
      <Name Culture="en-us">April</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>