<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b80de09-9982-4887-bfe4-b81f9bd84aa1" Alias="April" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//April</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-08T20:30:29</CreateDate>
    <NodeName Default="April">
      <Name Culture="en-us">April</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>