<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbfc1905-a6a0-471f-9ba6-cee4e79f529e" Alias="August" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//August</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:30:42</CreateDate>
    <NodeName Default="August">
      <Name Culture="en-us">August</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>