<?xml version="1.0" encoding="utf-8"?>
<Content Key="d525605f-9d0a-48f2-a8fb-45377352182d" Alias="August" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//August</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:43:01</CreateDate>
    <NodeName Default="August">
      <Name Culture="en-us">August</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>