<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2a92ad5-0023-4dfd-aa9b-0752dc575d61" Alias="December" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//December</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:47:21</CreateDate>
    <NodeName Default="December">
      <Name Culture="en-us">December</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>