<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3ec4116-84cf-4765-a29b-fe43cc6a9663" Alias="Februar" Level="3">
  <Info>
    <Parent Key="7368387b-5eb0-4f8a-837e-fa8b71a43814">2024</Parent>
    <Path>/Home//Februar</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder</ContentType>
    <CreateDate>2024-03-17T20:34:35</CreateDate>
    <NodeName Default="Februar">
      <Name Culture="en-us">Februar</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>