<?xml version="1.0" encoding="utf-8"?>
<Content Key="b19d4fb9-3d40-4fbf-a4a5-464081f4b976" Alias="Februar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Februar</Path>
    <Trashed>true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T19:38:06</CreateDate>
    <NodeName Default="Februar">
      <Name Culture="en-us">Februar</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>