<?xml version="1.0" encoding="utf-8"?>
<Content Key="41bb1965-e596-4090-823d-5bd8acebbf94" Alias="Februar" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//Februar</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T19:57:12</CreateDate>
    <NodeName Default="Februar">
      <Name Culture="en-us">Februar</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>