<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7d8f311-8f86-4fd0-a9fe-a8f2933261e3" Alias="Februar" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Februar</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:36:29</CreateDate>
    <NodeName Default="Februar">
      <Name Culture="en-us">Februar</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>