<?xml version="1.0" encoding="utf-8"?>
<Content Key="2408e62f-137d-493d-ab76-d2ae01371fde" Alias="Januar (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Januar1</Path>
    <Trashed>true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T19:39:40</CreateDate>
    <NodeName Default="Januar (1)">
      <Name Culture="en-us">Januar (1)</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>