<?xml version="1.0" encoding="utf-8"?>
<Content Key="15b6bfad-2a4f-4285-a91d-d2c067e1020d" Alias="Januar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Januar</Path>
    <Trashed Parent="a9406067-ac1f-46a3-b658-e25328b661ad">true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T20:04:45</CreateDate>
    <NodeName Default="Januar">
      <Name Culture="en-us">Januar</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>