<?xml version="1.0" encoding="utf-8"?>
<Content Key="c04752d3-5873-4fb1-a19e-0022242e4b92" Alias="Januar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Januar</Path>
    <Trashed>true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T19:37:13</CreateDate>
    <NodeName Default="Januar">
      <Name Culture="en-us">Januar</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>