<?xml version="1.0" encoding="utf-8"?>
<Content Key="f318cdff-3e02-40e9-a1aa-25bdb2695af4" Alias="Januar" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Januar</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-07T21:08:26</CreateDate>
    <NodeName Default="Januar">
      <Name Culture="en-us">Januar</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>