<?xml version="1.0" encoding="utf-8"?>
<Content Key="65102606-2f11-4791-8eb8-56af77e70e6a" Alias="Juli" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Juli</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:41:59</CreateDate>
    <NodeName Default="Juli">
      <Name Culture="en-us">Juli</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>