<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdf227a6-286b-4b1d-9a98-cbf55bc758f4" Alias="Juli" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//Juli</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-14T20:41:45</CreateDate>
    <NodeName Default="Juli">
      <Name Culture="en-us">Juli</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>