<?xml version="1.0" encoding="utf-8"?>
<Content Key="25d58a99-edda-461c-a8ab-984c2a6e7e54" Alias="Juni" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Juni</Path>
    <Trashed Parent="4e92e45c-b815-46b5-af2a-b57b7e64c71d">true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:50:13</CreateDate>
    <NodeName Default="Juni">
      <Name Culture="en-us">Juni</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>