<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed887895-b4e4-471f-9292-a4570052e2ef" Alias="Juni" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//Juni</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:56:32</CreateDate>
    <NodeName Default="Juni">
      <Name Culture="en-us">Juni</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>