<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cebf320-d0bf-4cb8-aed4-ea5a8a438416" Alias="Juni" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Juni</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:40:56</CreateDate>
    <NodeName Default="Juni">
      <Name Culture="en-us">Juni</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>