<?xml version="1.0" encoding="utf-8"?>
<Content Key="43025a93-532a-4108-a997-fdc2d514ad49" Alias="Juni" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//Juni</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-08T20:30:41</CreateDate>
    <NodeName Default="Juni">
      <Name Culture="en-us">Juni</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>