<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d54afb2-9903-429a-b777-f49baf33399b" Alias="Maj" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Maj</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:40:01</CreateDate>
    <NodeName Default="Maj">
      <Name Culture="en-us">Maj</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>