<?xml version="1.0" encoding="utf-8"?>
<Content Key="f69ebfbc-fa9b-4991-86ae-31e4c85b4e1a" Alias="Marts" Level="3">
  <Info>
    <Parent Key="7368387b-5eb0-4f8a-837e-fa8b71a43814">2024</Parent>
    <Path>/Home//Marts</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder</ContentType>
    <CreateDate>2024-03-17T20:34:48</CreateDate>
    <NodeName Default="Marts">
      <Name Culture="en-us">Marts</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <exportYear>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </exportYear>
    <registrations>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </registrations>
  </Properties>
</Content>