<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eafc107-fb60-406c-b890-f1ec99e9d872" Alias="Marts" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Marts</Path>
    <Trashed>true</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-05-02T19:39:03</CreateDate>
    <NodeName Default="Marts">
      <Name Culture="en-us">Marts</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>