<?xml version="1.0" encoding="utf-8"?>
<Content Key="26dc3a38-39ec-4bff-9768-c7aeaab60eaa" Alias="Marts" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Marts</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:37:52</CreateDate>
    <NodeName Default="Marts">
      <Name Culture="en-us">Marts</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>