<?xml version="1.0" encoding="utf-8"?>
<Content Key="14462377-82be-47b6-8d16-4f85d1cc0518" Alias="November" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//November</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:46:10</CreateDate>
    <NodeName Default="November">
      <Name Culture="en-us">November</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>