<?xml version="1.0" encoding="utf-8"?>
<Content Key="e331b11d-237f-4a75-b0de-0ce4d29f794b" Alias="November" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//November</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:31:00</CreateDate>
    <NodeName Default="November">
      <Name Culture="en-us">November</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>