<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cda540e-ba35-447d-95be-dcf0f7c6036b" Alias="Oktober" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//Oktober</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:30:53</CreateDate>
    <NodeName Default="Oktober">
      <Name Culture="en-us">Oktober</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>