<?xml version="1.0" encoding="utf-8"?>
<Content Key="18076a9c-801f-4184-9622-1651b46e268c" Alias="Oktober" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//Oktober</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:45:11</CreateDate>
    <NodeName Default="Oktober">
      <Name Culture="en-us">Oktober</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>