<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b31f1e1-4376-461d-8a5b-69863f8acd3b" Alias="September" Level="3">
  <Info>
    <Parent Key="a9406067-ac1f-46a3-b658-e25328b661ad">2025</Parent>
    <Path>/Home//September</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-11-10T08:44:14</CreateDate>
    <NodeName Default="September">
      <Name Culture="en-us">September</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>