<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f136a0d-bf09-4d2e-93ae-cd4c9ba5082d" Alias="September" Level="3">
  <Info>
    <Parent Key="4e92e45c-b815-46b5-af2a-b57b7e64c71d">2024</Parent>
    <Path>/Home//September</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder1</ContentType>
    <CreateDate>2024-06-13T20:30:48</CreateDate>
    <NodeName Default="September">
      <Name Culture="en-us">September</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>