@{
    ViewData["Title"] = "Om loppen";
}

<div class="container p-2">
    <div>
        <h1>Praktisk info til forældre om loppekørsel</h1>
        <p>
            <em>I Knud Rasmussen gruppen forpligtiger spejdernes forældre sig til at køre loppekørsel minimum to gange pr. spejderår som er perioden 1. august - 31. juli.</em>
        </p>
        <p>
            Tilmelding og kørsel er gået virkelig godt det sidste års tid. Vi oplever stor forståelse for Loppens vigtighed for vores spejdergruppe. En stor del af pengene vi får fra loppen bliver brugt på sommerlejre. I 2025 skal vi til Norge og i 2026 skal vi på Spejddnes lejr ved Hedeland.
        </p>
        <p>
            Opgaven omfatter sortering og kørsel af genbrugsting fra Genbrugspladsen i Hundested til Loppen (ca. 300 meter).
        </p>
        <p>
            Sidste år lavede vi en ny hjemmeside til loppekørsel tilmelding. Den nye side har de samme funktioner som den gamle side, men designet har fået et friskt pust og vi har lidt flere muligheder for administration af tilmeldinger og udsendelse af reminder til tilmeldte.
            Der kan være helligdags og ferieperioder der kan være svære at besætte. Derfor opfordrer vi til at man kigger ind på hjemmesiden en gang i mellem og hjælper med at fylde de tomme søndage ud.
        </p>
        <p>
            Ud over den store økonomiske gevinst ved Spejderloppen oplever vi også følgende fordele:
            <ul>
                <li>Vi kan drive byens største loppemarked</li>
                <li>Vi stadig kan beskæftige alle vores tro frivillige hjælpere i Loppen</li>
                <li>Vi kan tage aktiv del i lokalsamfundet</li>
                <li>Spejderene erhverver vigtig viden om bæredygtighed og genbrug</li>
                <li>Mange gode sociale forhold for jer, os og lokalsamfundet. </li>
                <li>Vi kan fastholde den store økonomiske gevinst for spejdergruppen og dermed blive ved med at holde kontingent og priser på ture nede. <b>Så alle kan være med!</b></li>
            </ul>
        </p>
        <p>
            <strong>HVORFOR:</strong>
            Som forælder hjælper man fordi det giver spejdergruppen (inkl. ens barn/børn) nogle helt unikke muligheder i forhold til indkøb af godt udstyr og spejderlejre i ind- og udland. Det er ikke dyrt at gå til spejder i forhold til mange andre fritidsaktiviteter. Til gengæld er vi fælles om at hjælpe med f.eks. loppekørsel, juletræssalg og ved at møde op til arbejdsdage i spejderhytten.
        </p>
        <p>
            <strong>HVOR:</strong>
            Genbrugspladsen i Hundested, Håndværkervej 16, 3390 Hundested.
        </p>
        <p>
            <strong>HVORNÅR:</strong>
            Søndag kl. 9.00 - Du kan se på <a href="https://www.spejderknud.dk">spejderknud.dk</a>. Hvis du ikke har mulighed for at deltage i weekender, så kontakt os. Er der flere der ønsker det, arrangerer vi meget gerne kørsel på en hverdag.
        </p>
        <p>
            <strong>HVOR LÆNGE:</strong>
            Det tager normalt ca. 2 - 3 timer, men skulle det mod forventning tage længere tid, bliver vi ved til vi er færdige.
        </p>
        <p>
            <strong>HVOR TIT:</strong>
            Du må deltage lige så tit du har lyst, men hver familie er forpligtet til at deltage med en forældre mindst 2 gange om året for hvert barn der er spejder i Knud Rasmussen Gruppen. En loppekørsel tæller når der deltager en forældre sammen med spejderen der er tilmeldt.
            Det vil løbende blive kontrolleret at alle bidrager til ordningen. Det er vigtigt for vores frivilligforståelse at alle yder til det gode vi har og vores mål er at få alle til at deltage i det omfang der forventes.
        </p>
        <p>
            <strong>ARBEJDSGANG:</strong>
            Der deltager altid en kontaktperson / leder med viden om hvad der skal laves. Herudover hænger der en lamineret instruktion i genbrugshuset, i loppen og i spejderhytten.
        </p>
        <p>
            <strong>KONTAKTPERSONENS OPGAVER</strong>
            Låne nøgle, låse op/af, sortere ting og vurdere hvad kan sælges/hvad skal smides ud. Registrerer om alle tilmeldte er mødt op på dagen og registrere eventuelle afbud.
        </p>
        <p>
            <strong>HVAD KRÆVER DET AF DIG:</strong>
            Det kræver ingen forudsætninger at deltage. Hvis du har mulighed for at medbringe en trailer er det en rigtig god ide, men ikke et krav.  Hvis du har træk på bilen kan du evt. låne trailerne fra loppen.
            Du kan sagtens hjælpe selvom du ikke selv har bil – Er der noget du er i tvivl om så ring til  kontaktpersonen (se kontaktinformation på tilmeldingssiden).
        </p>
        <p>
            <strong>TILMELDING TIL LOPPEKØRSEL:</strong>
            Du tilmelder dig på hjemmesiden <a href="https://www.spejderknud.dk">spejderknud.dk</a>.
            Hvis du bliver forhindret i at deltage er det vigtigt at du hurtigst muligt informerer kontaktpersonen, så denne kan sikre at der er tilstrækkeligt med hjælpere på dagen.
        </p>
        <p>
            <strong>KOORDINERING:</strong>
            I øjeblikket er det en gruppe af ledere der koordinerer loppekørselen. Har du lyst til at være med, så spørg dit barns grenleder.
        </p>

        <p>
            <strong>LOPPEMÆRKET:</strong>
            Spejderne er naturligvis med til at køre loppekørsel, det er der fornuft og god læring i. Der er mange fine opgaver børn kan hjælpe med.
            Det eftertragtede gule loppemærke bliver som regel uddelt på det efterfølgende spejdermøde, når en spejder har været med til at køre og hjælpe med loppeting. En spejder kan godt tage en spejderkammerat med. Begge spejdere får loppemærket men “kørslen” tæller kun for den familie hvis voksne der deltager. Det tæller som “en gang” hvis en forældre kører uden at spejderen er med, men vi opfordrer absolut til at spejderen deltager.
        </p>
        <p>
            <strong>SPEJDERNES VENNER:</strong>
            Det er vores støtteforening “Spejdernes venner” der driver loppen. Se deres hjemmesiden og facebookside hvor man kan se gode tilbud, se åbningstider og læse mere om stedets struktur og aktiviteter.
        </p>
        <p>
            <strong>IKKE TO GANGE:</strong>
            Familiespejdere forventes kun at køre en gang pr spejderår. Nystartede spejdere kører kun i det omgang der passer med hvornår de starter.
            Vi forventer ikke at klanen kører loppe. De laver meget andre spejderarbejde, bl.a. gode løb, kurser eller er ofte ledere i andre spejdergrupper.
        </p>
    </div>
</div>