@{
    ViewData["Title"] = "Om loppen";
}

<div class="container p-2">
    <div>
        <h1>Praktisk info til forældre om loppekørsel</h1>
        <p>
            <em>Forældrehjælp - og mulighed for at møde andre forældre</em>

            Som forælder i Knud Rasmussen Gruppen er du forpligtet til at hjælpe med at køre genbrugsting fra Genbrugspladsen til Loppen (ca. 300 meter) mindst 2 gange årligt for hvert spejderbarn du er forælder til.
        </p>
        <p>
            Ordningen har tidligere været frivillig, men det var tiltagende vanskeligt at hverve tilstrækkeligt med hjælpere. Da alternativet ville være at nedlægge spejderloppen helt, blev det på generalforsamlingen 2018 enstemmigt vedtaget fremover at gøre det <b>obligatorisk for alle forældre til spejderbørn i Knud Rasmussen Gruppen at deltage i arbejdet med at køre genbrugsting til spejderloppen.</b>
        </p>
        <p>
            Denne ordning betyder at:
        </p>
        <p>
            <ul>
                <li>vi kan drive vores loppemarked videre</li>
                <li>vi stadig kan beskæftige alle vores tro frivillige hjælpere i Loppen</li>
                <li>vi kan tage aktiv del i lokalsamfundet</li>
                <li>at spejderne erhverver vigtig viden genbrug</li>
                <li>at vi kan fastholde den store økonomiske gevinst for spejdergruppen og dermed blive ved med at holde kontingent og priser på ture nede. <b>Så alle kan være med!</b></li>
            </ul>
            Det blev samtidigt vedtaget at arbejdet med at koordinere loppekørsel fremover varetages af et forældreudvalg frem for spejdernes ledere.
        </p>
        <p>
            <strong>HVORFOR</strong>
            Som forælder hjælper man fordi det giver spejdergruppen (inkl. ens barn/børn) nogle helt unikke muligheder i forhold til indkøb af godt udstyr og rejser ind- og udlands. Det er ikke dyrt at gå til spejder i forhold til mange andre sportsgrene. Til gengæld er vi fælles om at hjælpe med f.eks. Loppekørsel og ved at møde op til arbejdsdage i spejderhytten.
        </p>
        <p>
            <strong>HVOR</strong>
            Genbrugspladsen i Hundested, Håndværkervej 16, 3390 Hundested
        </p>
        <p>
            <strong>HVORNÅR</strong>
            Lørdage eller Søndage – som regel kl. 10. Du kan se på tilmeldingslisten hvilke dage og tidspunkter du kan tilmelde dig. Hvis du ikke har mulighed for at deltage i weekender, så kontakt forældregruppen. Er der flere der ønsker det arrangerer vi meget gerne kørsel på en hverdag.
        </p>
        <p>
            <strong>HVOR LÆNGE</strong>
            Det tager normalt ca. 2 timer
        </p>
        <p>
            <strong>HVOR TIT</strong>
            Du må deltage lige så tit du har lyst, men hver familie er forpligtet til at deltage mindst 2 gange om året for hvert barn der er spejder i Knud Rasmussen Gruppen. Det vil løbende blive kontrolleret at alle bidrager til ordningen.
        </p>
        <p>
            <strong>KONTAKTPERSONENS OPGAVER</strong>
            Låne nøgle, låse op/af, sortere ting i det blå telt og vurdere hvad kan sælges/hvad skal smides ud. Registrerer om alle tilmeldte er mødt op på dagen, og kan også registrere eventuelle afbud.
        </p>
        <p>
            <strong>HJÆLPERENS OPGAVE</strong>
            Køre ting frem og tilbage (ca. 300 meter), af- og pålæsning.
        </p>
        <p>
            <strong>HVAD KRÆVER DET AF DIG</strong>
            Det kræver ingen forudsætninger at deltage. Hvis du har mulighed for at medbringe en trailer er det en rigtig god ide, men ikke et krav. Du kan sagtens hjælpe selvom du ikke selv har bil – kontaktpersonen kan evt. hjælpe med at arrangere samkørsel på dagen – ring eller skriv til kontaktpersonen når du har tilmeldt dig (se kontaktinformation på tilmeldingssiden).
        </p>
        <p>
            <strong>TILMELDING TIL LOPPEKØRSEL</strong>
            Du tilmelder dig elektronisk på hjemmesiden.
        </p>
        <p>
            Hvis du bliver forhindret i at deltage er det vigtigt at du hurtigst muligt informerer kontaktpersonen, så denne kan sikre at der er tilstrækkeligt med hjælpere på dagen.
        </p>
    </div>
</div>