<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd2db5f5-23fb-4587-acb7-6c6178de6b2d" Alias="eventRoot" Level="1">
  <Info>
    <Name>EventRoot</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f5144b71-7014-49b4-a739-03e2624db59a" SortOrder="0">eventFolder1</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d4c1f9b2-d89d-4038-8acf-2f43dba1c11c</Key>
      <Name>ExportYear</Name>
      <Alias>exportYear</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="export">Export</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0786b0e4-d3ca-46e8-af0a-99f75ba42c89</Key>
      <Name>Registrations</Name>
      <Alias>registrations</Alias>
      <Definition>eee90510-f2f1-426e-9c34-0f1edf93370d</Definition>
      <Type>Registrations editor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="export">Export</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>28235083-a72a-4afd-8ec2-af09af0f5f29</Key>
      <Caption>Export</Caption>
      <Alias>export</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>