<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99861d5e-beef-4064-8322-a2c98dd725f5" Alias="eventFolder" Level="1">
  <Info>
    <Name>EventFolder</Name>
    <Icon>icon-folder-outline color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="99861d5e-beef-4064-8322-a2c98dd725f5" SortOrder="0">eventFolder</ContentType>
    <ContentType Key="d7dd089f-a7f6-490d-93b1-9af2a0b15318" SortOrder="1">event</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>680dcbf4-5eff-49b5-909d-f13565e3c6b0</Key>
      <Name>ExportYear</Name>
      <Alias>exportYear</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="export">Export</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>År skal angives</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7023487e-e9c0-4974-8bc6-142f10a07061</Key>
      <Name>Registrations</Name>
      <Alias>registrations</Alias>
      <Definition>eee90510-f2f1-426e-9c34-0f1edf93370d</Definition>
      <Type>Registrations editor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="export">Export</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>af98c0e8-30c0-4c36-bdf3-fbdce87be9d2</Key>
      <Caption>Export</Caption>
      <Alias>export</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>