<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d36ed87f-632a-4e00-8623-9ee89d006ae8" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="864023ce-5d08-4a28-ae0e-25753aa32783">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dd2db5f5-23fb-4587-acb7-6c6178de6b2d" SortOrder="0">eventRoot</ContentType>
    <ContentType Key="d83c3f61-bbb0-4e65-8165-8cd8d9a21011" SortOrder="1">textPage</ContentType>
    <ContentType Key="0d787051-bcd5-431e-a409-a3e58ef63321" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6a74d91d-3a44-4b1b-b7e7-ae63f2735ce7</Key>
      <Name>PageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de82e214-587c-4271-9337-0c40f2edf6e0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>