<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d787051-bcd5-431e-a409-a3e58ef63321" Alias="siteSettings" Level="1">
  <Info>
    <Name>SiteSettings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8a59d6ad-48f4-4a43-b726-0d3875ca5a2f</Key>
      <Name>EmailSender</Name>
      <Alias>emailSender</Alias>
      <Definition>8863831f-5bc0-423c-b80c-57addbbdc2ce</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="events/emails">Emails</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6b7e661-a3a1-4d6b-ba74-30526e7efda1</Key>
      <Name>EventRoot</Name>
      <Alias>eventRoot</Alias>
      <Definition>9c593a8b-c63a-47d4-bf13-6ac0d7cc8d9c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="events">Events</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c79a8ade-90b7-4075-a080-c9dac6bcdae8</Key>
      <Caption>Emails</Caption>
      <Alias>events/emails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cafb66b0-2275-43bb-a002-36cddf5fd2ca</Key>
      <Caption>Events</Caption>
      <Alias>events</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>